.button{
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    font-size: 41px;
    border: 1px solid;
    margin-bottom: 10px;
    color: white;
    font-family: Impact, serif;
}

#button{
    visibility: hidden;
    color:dodgerblue;
}


#adWrapper{
    width: 1920px;
    height: 1080px;
    background-color: black;
}

#srcImage{
    width: 83%;
    height: 81%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    background-color: white;
    margin-left: 7.5%;
}

#label{
    display: flex;
    justify-content: center;
    font-family: Impact, serif;
    font-size: 150px;
    color: white;
}

#brands{
    color: red;
}

#sqr{
    font-size: 90px
}


#discountBlock{
    position: relative;
    background-color: red;
    width: 300px;
    height: 300px;
    border-radius: 155%;
    color: white;
    font-size: 130px;
    text-align: center;
    line-height: 306px;
    transform: rotate(-19deg);
    top: -27%;
    left: 1%;
}

#tagBlock{
    position: relative;
    top: -43%;
}

#tag{
    background-image: url("priceTag.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 1000px;
    margin-top: -43%;
    margin-left: 69%;
    color: white;
    font-size: 100px;
}

#pin{
    background-image: url("pin.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 227px;
    height: 200px;
    margin-left: 86%;
    margin-top: -56%;
}

#oldPrice{
    position: relative;
    top: 48%;
    left: 39%;
    text-decoration: line-through;
}

#newPrice{
    position: relative;
    font-size: 150px;
    top: 55%;
    left: 31%;
    font-weight: bold;
}

input{
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 15%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}